.App {
  background-color: #eff4f7;
  min-height: 100vh;
}

.graph-container {
  background-color: white;
  padding: 20px 20px 0 20px;
  margin: 0 auto;
  display: inline-block;
  border-radius: 8px;
}

.graph-select {
  margin-bottom: 15px;
  margin-right: 10px;
}